<div>
    <form ng-submit='createFamily()'>
        <div class='form-group'>
            <label for='inputFamilyName'>Family Name</label>
            <input type='text' class='form-control' id='inputFamilyName' placeholder='Enter family name (i.e. "Burton")' ng-model='familyName'>
        </div>
        <div class='form-group'>
            <label for='inputFamilyDisplayName'>Announced As</label>
            <input type='text' class='form-control' id='inputdisplayName' placeholder='Enter family display name (i.e. "The Burton Family")' ng-model='displayName'>
        </div>
        <button type='submit' class='btn btn-default'>Create Family</button>
    </form>
</div>